* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.myheader {
    width: 100%;
    padding: 0px 70px;
    background: linear-gradient(
        92.04deg,
        #18184a 24.18%,
        #19398a 50.95%,
        #18184a 110.32%
    );
    box-shadow: 0 4px 8px 0 hsl(0deg 0% 7% / 50%);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.myheader .current a {
    color: #e8491d;
    font-weight: bold;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
}

.menu ul li {
    display: inline-block;
    font-weight: 700;
    list-style: none;
    text-transform: uppercase;
    padding: 20px 15px;
    font-size: 14px;
}

.menu ul a {
    color: white;
    text-decoration: none;
}

#showcase {
    min-height: 400px;
    background-image: url("./images/ipl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 4rem;
    margin-bottom: 30px;
}

#showcase p {
    display: inline-block;
    margin: auto;
    font-size: 20px;
}

#teams .container,#results .container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background: linear-gradient(92.04deg, #7f7ff5 24.18%, #19398a 50.95%);
    border-radius: 20px;
    margin: 50px 20px;
}

.team, .result {
    width: 20rem;
    height: 20rem;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: grey;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: pointer;
}
.team-name, .result-name {
    color: white;
    font-weight: 700;
    display: block;
    font-size: 18px;
    text-align: center;
    padding-block: 10px;
    margin-top: 15px;
}

.result-name p {
    padding: 20px;
}

.result a {
    text-decoration: none;
    color: white;
    background-color: #006cb7;
    padding: 5px;
    border: 1px solid blue;

}

.team-logo {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-logo img {
    width: 100%;
}
img {
    border: none;
    outline: none;
}

#CSK {
    background: linear-gradient(180deg, #fcca06 0%, #f25c19 100%);
    border: 2px solid #f25c19;
}

#DC {
    background: linear-gradient(180deg, #0078bc 0%, #17479e 100%);
    border: 2px solid #17479e;
}
#GT {
    background: linear-gradient(180deg, #1c1c1c 0%, #0b4973 100%);
    border: 2px solid #0b4973;
}

#KKR {
    background: linear-gradient(180deg, #3b215d 0%, #552792 100%);
    border: 2px solid #552792;
}

#LSG {
    background: linear-gradient(180deg, #a72056 0%, #ffcc00 100%);
    border: 2px solid #ffcc00;
}

#MI {
    background: linear-gradient(180deg, #006cb7 0%, #003b7a 100%);
    border: 2px solid #003b7a;
}

#PK {
    background: linear-gradient(180deg, #d71920 0%, #84171b 100%);
    border: 2px solid #84171b;
}

#RR {
    background: linear-gradient(180deg, #ea1a85 0%, #001d48 100%);
    border: 2px solid #001d48;
}

#RCB {
    background: linear-gradient(180deg, #6a6a6a 0%, #1c1c1c 100%);
    border: 2px solid #1c1c1c;
}

#SH {
    background: linear-gradient(180deg, #f26522 0%, #ed1a37 100%);
    border: 2px solid #ed1a37;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background: linear-gradient(
        92.04deg,
        #18184a 24.18%,
        #19398a 50.95%,
        #18184a 110.32%
    );
    text-align: center;
}
